<form action="/form" method="POST" id="form">
  <select name="properties" placeholder="select property">
    {{#each properties}}
    <option value="{{id}}">{{street}}</option>
{{/each}}
</select>
<p>Rate your rental using the scale below. 1 - 5 (highly unsatisfactory - excellent)</p>
<div class="q">
  <label for="question1">
My Kitchen 
<br>
Visual inspection and verification that cooking facilities are in working condition.  
No obviously visible unsafe wires, broken glass or gas connections.
A working sink.
Clear food preparation area.
Food storage capacity. 
</label>
  <input type="radio" name="question1" value="1"> 1

  <input type="radio" name="question1" value="2"> 2
  
  <input type="radio" name="question1" value="3"> 3
  
  <input type="radio" name="question1" value="4"> 4
  
  <input type="radio" name="question1" value="5"> 5
  

  
    </div>

<div class="q">
  <label for="question1">
My Bathroom
<br>
Hot-water at the tap should be supplied at a temperature of 55 C
There must be a functional toilet, with no visible damage or plumbing issues
There must be a suitably located bath or shower in good working order


</label>
  <input type="radio" name="question2" value="1"> 1
  
  <input type="radio" name="question2" value="2"> 2
  
  <input type="radio" name="question2" value="3"> 3
  
  <input type="radio" name="question2" value="4"> 4
  
  <input type="radio" name="question2" value="5"> 5
  
  
    </div>

<div class="q">
  <label for="question1">
My Heating & Ventilation
<br>
The house must contain an adequate form of safe and effective space heating.
The bathroom(s), kitchen, bedrooms and livings areas must have some form of ventilation to the outside.
</label>
  <input type="radio" name="question3" value="1"> 1
  
  <input type="radio" name="question3" value="2"> 2
  
  <input type="radio" name="question3" value="3"> 3
  
  <input type="radio" name="question3" value="4"> 4
  
  <input type="radio" name="question3" value="5"> 5
  

  
</div>

<div class="q">
   <label for="question1">
My Storage
<br>
The house must contain secure or high level cupboards or shelves for storing hazardous or toxic substances out of children's reach.
</label>
  <input type="radio" name="question4" value="1"> 1
  
  <input type="radio" name="question4" value="2"> 2
  
  <input type="radio" name="question4" value="3"> 3
  
  <input type="radio" name="question4" value="4"> 4
  
  <input type="radio" name="question4" value="5"> 5
</div>

<div class="q">
   <label for="question1">My Health and Safety
<br>
The house must be reasonably free of visible mould, having no more in total area of mould than an A4 sheet of paper.
 There must be operational smoke alarms in the house.
Windows in bedrooms and living areas are required to either be doubled glazed or have effective
curtains or blinds installed.
Ceiling insulation is required to WOF standard for all houses where access to the roof space is
feasible.

</label>
  <input type="radio" name="question5" value="1"> 1
  
  <input type="radio" name="question5" value="2"> 2
  
  <input type="radio" name="question5" value="3"> 3
  
  <input type="radio" name="question5" value="4"> 4
  
  <input type="radio" name="question5" value="5"> 5
  <br>
  <input type="submit" value="submit" class="post">
</form>
</div>