<nav>
  <div class="left-nav">
    <a href='/'><img src="./images/logo.png" alt="main-logo">
  </div>

  <div class="right-nav"> 
    <ul>
      <li><a href="/form">Rate Rental</a></li>
      <li><a href="/properties">View Rental</a></li>
    </ul>
  </div>
  
</nav>