<h1>Form</h1>
  <select name="properties" placeholder="select property">
  <option value="{{id}}">14 Sussex Street, Grey Lynn, Auckland</option>
  <option value="{{id}}">8 Packabs Avenue, Avondale, Wellington</option>
  <option value="{{id}}">3 Skid Row, cambridge, Hamilton</option>
  <option value="{{id}}">Audi</option>
</select>
 
 {{>feedbackForm}}