
{{>nav}} 
<div class="landing-main">

 <h1>HOME</h1>
    <a href="/form"> <button class="homebutton"> Rate </button></a>
    <a href="/properties"><button class="homebutton"> View </button></a>

      <div class="loginbox">

          <form action="/feedback" method="post" name="login">
          Username <input type="text" name="userid"/> 
          Password <input type="password" name="pswrd"/>
          <a href="/form"><input type="submit" value="Login"/></a>
          <input type="reset" value="Cancel"/>
        </form>

      </div>
      <div class="about">
       <p> 
         Shelter is a basic human need. The quality of housing is a key material determinant of health and people's ability
         to learn, work and grow. There are people living in poor quality housing all across New Zealand and we need to work
         together to solve this problem. 
      </p>
      <p>
         <em>Rate my Rental </em>is a tool that has been created to empower tenants. This tool gives people the ability to frequently grade
         the building quality. This creates more transparency and allows the landlord to improve the quality of the building,
         providing the tenants with a healthy place to call home.
      </p>
      </div>
</div>