 
<div class="landing-main">
  <img id="mainlogo" src="./images/logo.png" align="top, centre">
 <h1>HOME</h1>
    <button class="homebutton"> Rate </button>
    <button class="homebutton"> View </button>

      <div class="loginbox">

          <form action="/feedback" method="post" name="login">
          Username <input type="text" name="userid"/>
          Password <input type="password" name="pswrd"/>
          <input type="submit" value="Login"/>
          <input type="reset" value="Cancel"/>
        </form>

      </div>
</div>
