

      <div class="loginbox">

          <form action="/feedback" method="post" name="login">
          Username <input type="text" name="userid"/>
          Password <input type="password" name="pswrd"/>

          <input type="reset" value="Cancel"/>
        </form>

      </div>

</div>
