 
<div class="landing-main">
  <img id="mainlogo" src="./images/logo.png" align="top, centre">
 <h1>HOME</h1>
    <a href="/form"> <button class="homebutton"> Rate </button></a>
    <a href="/properties"><button class="homebutton"> View </button></a>

      <div class="loginbox">

          <form action="/feedback" method="post" name="login">
          Username <input type="text" name="userid"/>
          Password <input type="password" name="pswrd"/>
          <a href="/form"><input type="submit" value="Login"/></a>
          <input type="reset" value="Cancel"/>
        </form>

      </div>
</div>